span.badge.badge-boxed.badge-soft-PENDING {
    color: coral;
}

span.badge.badge-boxed.badge-soft-SUBMITTED {
    color: aqua;
}

button.btn.btn-info.px-4.align-self-center.report-btn a {
    color: #fff;
}